@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: #1A0033;
  font-family: 'Press Start 2P';
  color: #FFFFFF; 
}

header {
  border: 4px solid #00ABFF; 
  margin-left: 0px;
  width: 98%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  background: #B71212;; 
  color: #FFFFFF;
  padding: 15px;
  border-radius: 120px;
}

header .logo {
  width: 60px; 
  height: 60px;
  margin-right: 15px;
}

header h1 {
  font-size: 28px;
  font-family: 'Press Start 2P', cursive;
  color: #FFFFFF;
}

.tagline {
  margin-top: 30px;
  margin: 60px 0;
  font-size: 16px;
  color: #00FFFF; 
}

.upload-section {
  border: 4px solid #00ABFF; 
  background-color: #050505; 
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 0px;
  box-shadow: 0 0 7px #00FFFF inset, 0 0 20px #FF007F;
}

.upload-area {
  border: 4px dashed #319EFF;
  background: linear-gradient(to bottom, #171717, #333);
  box-shadow: 0 0 9px #00ABFF inset, 0 0 20px #B71212;
  color: white;
  padding: 136px;
  margin: 90px auto;
  text-align: center;
  font-size: 14px;
  width: 50%;
  border-radius: 125px;
  cursor: pointer;
  position: relative;
}

.upload-area input {
  display: none;
}


.tool-panel {
  position: relative;
  top: 50%;
  width: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
}

.tool-panel.left {
  left: 217px;
  top: -479px;
}


.tool-panel.right {
  right: -1201px;
  top: -820px;
}

.tool-btn {
  background: #AC0B0B85;
  color: white;
  padding: 13px;
  border: 3px solid #FF007F;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 0 10px #00FFFF inset, 0 0 15px #FF007F;
  transition: all 0.3s ease;
  text-align: center;
  width: 102px;
  border-radius: 15px;
}


.tool-btn:hover {
  background: #FF007F;
  box-shadow: 0 0 15px #00FFFF inset, 0 0 20px #FF007F;
}


.tools {
  /* border: 4px solid #FFD700;  */
  background-color: #050505; 
  height: 124px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: -665px;
  border: 4px solid #00ABFF; 
}

.tp {
  margin-bottom: -204px;
  margin-left: 206px;
}

.arcade-btn {
  background: #000000; 
  color: #FFFFFF;
  font-size: 13px;
  padding: 25px;
  margin-top: -70px;
  font-family: 'Press Start 2P';
  border: 3px dotted #FFD700; 
  cursor: pointer;
  text-shadow: 2px 2px #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s ease;
  border-radius: 55px;
  margin-left: 44px;
  box-shadow: 0 0 0 2px #FF3131;
}

.arcade-btn:hover {
  background: #FF007F;
  color: #000;
}

.arcade-btn img {
  position: relative;
  opacity: 1;
  width: 219px;
  height: 104px;
}

.footer {
  background-color: #0D0221; 
  border-top: 4px solid #00ABFF; 
  padding: 20px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 200px;
  box-shadow: 0 0 15px #00FFFF inset, 0 0 20px #FF007F;
}

.footer a {
  color: #FFF; 
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
}

.footer a:hover {
  color: #FF007F; 
}