@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    justify-content: center;
    color: #fff;
    background-color: #0A101A;
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #140c4e 1px, transparent 1px), linear-gradient(to bottom, #1b1068 1px, transparent 1px);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 50px;
}

h2 {
    font-size: 36px;
    text-shadow: 0 0 5px #111827, 0 0 10px #111827;
}

form {
    /* display: inline-block;
    background: #00060e;
    padding: 20px;
    border: 5px solid #545E6F;
    border-radius: 10px;
    height: 335px;
    width: 449px; */
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #545E6F;
    text-align: center;
    height: 328px;
  }

input[type="text"],
input[type="password"] {
    width: 96%;
    height: 79px;
    margin: 10px 0;
    background: #111827;
    border: 1px solid #3B82F6;
    color: #dbeae7;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border-radius: 14px;

}

input[type="submit"] {
    background: #111827;
    border: none;
    color: #fff;
    padding: 18px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0 0 5px #000;
    margin-top: 65px;
  }

input[type="submit"]:hover {
    background: #3B82F6;;
    box-shadow: 0 0 10px #3B82F6;;
}

a {
    display: block;
    margin-top: 20px;
    color: #3B82F6;
    text-decoration: none;
    text-shadow: 0 0 5px #3B82F6;
    font-size: 20px;
}

a:hover {
    color: #e4f3f0;
    text-shadow: 0 0 10px #eff8f6;
}
.lgn{
    background-color: #020712;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    border: 1px solid #3B82F6;
    margin-left: 32%;
}