@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #000;
    color: #00ffcc;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding: 50px;
}

h2 {
    font-size: 36px;
    text-shadow: 0 0 5px #ff00ff, 0 0 10px #ff00ff;
}

form {
    display: inline-block;
    background: #111;
    padding: 20px;
    border: 5px solid #ff00ff;
    box-shadow: 0 0 24px #ff00ff;
    border-radius: 10px;
    height: 335px;
    width: 449px;
  }

input[type="text"],
input[type="password"] {
    width: 96%;
    height: 79px;
    margin: 10px 0;
    background: #222;
    border: 1px solid #00ffcc;
    color: #00ffcc;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border-radius: 14px;

}

input[type="submit"] {
    background: #ff00ff;
    border: none;
    color: #fff;
    padding: 18px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 0 0 5px #000;
    margin-top: 65px;
  }

input[type="submit"]:hover {
    background: #00ffcc;
    box-shadow: 0 0 10px #00ffcc;
}

a {
    display: block;
    margin-top: 20px;
    color: #ff00ff;
    text-decoration: none;
    text-shadow: 0 0 5px #ff00ff;
    font-size: 20px;
}

a:hover {
    color: #00ffcc;
    text-shadow: 0 0 10px #00ffcc;
}
